
VERSION=3.3

ADMIN_USER_GLOBAL=<USERNAME
ADMIN_PASS_GLOBAL=<PASSWORD>

APP_DATA_DIR=${PWD}/data/

# Replace this with your domain (use localhost to test locally)
DOMAINNAME=localhost

RESTART=unless-stopped

# Traefik Entrypoints
ENTRYPOINTS=web

# use https when cert is configured
HTTP_SCHEMA=http

SMTP_SERVER=mail.example.com

CLOUDFLARE_EMAIL=<account email>

CLOUDFLARE_API_KEY=<KEY>
